body {
    font-family: "DM Serif Text", serif;

}

a {
    text-decoration: none;
}

body {
    background-color: #f7f2f2;
}

.navbar {
    background-color:rgb(195, 135, 57);
    text-align: right;
    box-shadow: 5px 5px rgb(168, 102, 15);
}

.navbar li {
    display: inline-block;
    vertical-align: middle;
    padding: 5px ;
}

.navbar a {
    color:  rgb(100, 64, 22);
    text-shadow: 3px 3px #ba8787;
}

.navbar a:hover {
    /*text-decoration: underline;*/
    /*border-bottom: 1px solid white;*/
}

.navbar a::after {
    content: "";
    display: block;
    border-bottom: 1px solid transparent;
    transform: translateX(100%);
    transition: 0.5s;
}

.navbar a:hover::after {
    border-bottom-color: rgb(69, 30, 34);
    transform: translateX(0%);
}